128          ICON    DISCARDABLE     "res/Glulx.ico"
129          ICON    DISCARDABLE     "res/Blorb.ico"
130          ICON    DISCARDABLE     "res/Ulx.ico"
1            24                      "res/Glulxe.manifest"

