Advent/
Dungeon/
Executables/
Floo/
Git/
GlkDll/Debug/
GlkDll/Release/
GlkDll/GlkEspañol/Release/
GlkDll/GlkItaliano/Release/
GlkDll/GlkRussian/Release/
Scare/
Glk.txt
*.user
*.chm
*.aps
.vs
